* {
  box-sizing: border-box;
}

body {
  /*background-color: rgba(85, 85, 85, 1);*/
  background-color: firebrick;
  color: #000;
  text-align: center;
}

.bordered {
  background-color: rgba(85, 85, 85, 1);
  border: 3px solid #333;
  border-radius: 20px;
  color: #fff;
}


/*************************************
HEADING
*************************************/
header {
  margin: 2.5%;
  margin-bottom: 0;
  padding-top: 10px;
  min-height: 100px;
  /*background-color: firebrick;*/
}
h1 {
  margin: 0;
  font-size: 3em;
}
h2 {
  margin: 0;
}


/*************************************
FOOTER
*************************************/

footer {
  min-height: 50px;
  background-color: rgba(85, 85, 85, 1); 
  font-size: 0.75em;
  padding-top: 6px;
}
footer p {
  color: white;
  margin: 0;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/*************************************
TIMER
*************************************/
#time {
  font-size: 6em;
  margin: 2.5%;
}


/*************************************
CONTROLS
*************************************/
#tomato {
  display: block;
  margin: 2.5% auto;
  width: 95%
}

#tomato img {
  max-width:40%;
}


/*************************************
OPTIONS
*************************************/

#options {
  /*display: flex;*/
  clear: both;
  margin: 0 2.5%;
}
#options select {
  margin: 0 15px;
}


/*************************************
STATS + INFO
*************************************/
.info {
  background-color: rgba(178, 34, 34, .7);
  display: none;
}
.info p {
  /*padding: 2.5%; */
  margin: 0 5%;
  color: #000;
}
#stats {
  display: none;
  padding: 2.5px 0;
  background-color: #333;
}
#stats p {
  margin: 0;
  color: #fff;
  clear: both;
  font-size: 0.9em;
}



/*************************************
CLEARFIX
*************************************/
/*
.group:after {
  content: "";
  display: table;
  clear: both;
}*/
